html, body {
    font-family: sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}


#legend {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: rgba(255, 255, 255, 0.9);
    padding: 12px;
    border-radius: 10px;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.25);
    font-family: Arial, sans-serif;
    font-size: 16px;
}

#legend h3 {
    margin: 0;
    padding-bottom: 6px;
    font-size: 18px;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}

.marker {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
    border: 1px solid #000;
}